@model IEnumerable<SearchModel>
@{
} 
@foreach (var item in Model)
{
    <li id="@item.Id">
        <span>@item.UserName</span>
        <select class="role-participant" style="display:block;">
            @foreach (var role in item.Role)
            {
                <option value="@role.Id">@role.NameRole</option>
            }
        </select>
        <button class="add-participant" id="add-user-team-staff">+</button>
    </li>
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/addGroup.js"></script>
